.reveal {
  font-size: 2em;
}

.reveal pre {
  width: 120%;
}

.titlepage {
  layout: center-right;
}

.title-top-right {
    position: fixed;
    top: 20px;
    right: 0px;
    margin: 0 0 0px 0 !important;
    color: #eee !important;
    font-weight: normal !important;
    line-height: 1.2 !important;
    letter-spacing: -0.03em !important;
    font-family: sans-serif;
}
