.reveal {
  font-size: 2em;
}

.reveal pre code {
  font-size: 1.3em;
  line-height: 1.2;
}

.reveal pre {
  width: 95%;
}

.reveal h1 {
  font-size: 2.75em;
}

.reveal .slides { 
  width: 1024px; 
  height: 768px;
}

.reveal section img {
  border: 0;
  box-shadow: none;
}

#box-qr{
  position:fixed;
  left:20px;
  width:300px;
}
